<div class="projectStatusInterfaceContainer">
    <p class="projectStatusInterfaceTitle">Project Status Interface:</p>
</div>

<section class="projectStatusesSection">
    <div class="projectStatusesContainer">
        <div class="projectStatusElementContainer">
            <p class="statusTitle">Payment Status:</p>
            <p class="statusOutput"><%= @project[:payment_status] %></p>
        </div>
        <div class="projectStatusElementContainer">
            <p class="statusTitle">Designer Status:</p>
            <p class="designerStatusOutput"><%= @project[:designer_status] %></p>
        </div>
        <div class="projectStatusElementContainer">
            <p class="statusTitle">Client Status:</p>
            <p class="statusOutput"><%= @project[:client_status] %></p>
        </div>
        <div class="projectStatusElementContainer">
            <p class="statusTitle">Project Status:</p>
            <p class="statusOutput"><%= @project[:project_status] %></p>
        </div>
    </div>
</section>