<p>Payment Status:</p>
<p><%= @project[:payment_status] %></p>

<p>Designer Status:</p>
<p><%= @project[:designer_status] %></p>

<p>Client Status:</p>
<p><%= @project[:client_status] %></p>

<p>Project Status:</p>
<p><%= @project[:project_status] %></p>