// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.projectInformationContainer {
    background-color: #888888;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectTitle {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
}

.projectInformationElementSection {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
}

.projectInformationElement {
    margin: 0px 10px 0px 10px;
}

.projectBriefSectionTitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    margin: 0px 0px 25px 0px;
}

.projectBriefSectionContentContainer {
    width: 50%;
}

.projectBriefContent {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    line-height: 2;
}

// Project | Show

// Project | Show | Viewport Section

.viewportTag {
    margin: 0px 0px 15px 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

.projectImageViewportSection {
    width: 100%;
    height: 1000px;
    background-image: url("paper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectImageViewport {
    width: 1000px;
    height: 800px;
    box-shadow: 2px 5px 10px #888888;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectShowJoinViewportButtonSection {
    width: 100%;
}

.projectShowJoinButtonSectionSeparator {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Project | Show | Join Button

.projectShowJoinButtonSectionButton {
    font-family: 'Nunito Sans', sans-serif;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 255, 0, 0.63);
    border-style: none;
    border: 1px solid rgb(0, 255, 76);
    font-size: 20px;
    color: rgb(8, 47, 59);
    box-shadow: 0px 0px 3px #252525;
}

// Project | Show | Project Brief Section

.projectBriefSection {
    width: 100%;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space;
    align-items: center;
    flex-direction: column;
}



// Project | Show | Project Status Section

.projectStatusesContainer {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projectStatusesSection {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projectStatusElementContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.statusTitle {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

.statusOutput {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 15px 0px 0px 0px;
    color: rgb(0, 189, 164);
    border: 2px solid rgb(0, 189, 164);
    background-color:  rgba(0, 189, 189, 0.267);
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designerStatusOutput {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 15px 0px 0px 0px;
    color: rgb(0, 145, 189);
    border: 2px solid rgb(68, 233, 255);
    background-color:  rgba(0, 204, 255, 0.267);
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



// Project | Show | Project Controllers Section

.projectStatusesControllersSection {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projectStatusesControllerTitleContainer {
   
}

.projectStatusesControllerContainer {
    display: flex;
    flex-direction: row;
}

.projectStatusDropDownSelectorElement {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
    align-items: center;
}

#project_payment_status {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    padding: 0px 25px 0px 25px;
    margin: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px lightseagreen solid;
}

#project_payment_status:hover {
    border: 2px rgb(112, 32, 178) solid;
}

#project_project_status {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    padding: 0px 25px 0px 25px;
    margin: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px lightseagreen solid;
}

#project_project_status:hover {
    border: 2px rgb(112, 32, 178) solid;
}

#project_client_status {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    padding: 0px 25px 0px 25px;
    margin: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px lightseagreen solid;
}

#project_client_status:hover {
    border: 2px rgb(112, 32, 178) solid;
}

#project_designer_status {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    width: 300px;
    height: 50px;
    padding: 0px 25px 0px 25px;
    margin: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px lightseagreen solid;
}

#project_designer_status:hover {
    border: 2px rgb(112, 32, 178) solid;
}

.projectStatusesSubmitButton {
	font-family: 'Nunito Sans', sans-serif;
	color: rgb(255, 255, 255);
	width: 150px;
	height: 30px;
	background: none;
	border: 1px solid rgb(255, 255, 255);
}

.projectStatusesSubmitButton:hover {
	color: rgb(153, 0, 255);
	border: 1px solid rgb(153, 0, 255);
}




.hudSection {
    color: white;
    width: 100%;
    height: 2000px;
    background-image: url("hud.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.InterfaceSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectStatusesControlsSection {
    height: 500px;
}

.projectStatusInterfaceOwnerContainer {
    margin: 50px 0px 0px 0px;
}

.projectStatusInterfaceContainer {
    margin: 15px 0px 25px 0px;
}

.projectStatusInterfaceDesignerTile {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

.projectStatusInterfaceTitle {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
}

.projectStatusInterfaceOwner {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 15px;
    margin: 0px 0px 25px 0px;
}



.userControlsInterfaceSection {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userControlsFormInputFieldContainer {
	width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Messaging System

.messageBox {
    width: 50%;
    height: 50px;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(57, 0, 110);
    border: 1px solid blueviolet;
}

.messageBoxUserName {
    color: rgb(208, 158, 255);
    margin: 0px 5px 0px 0px
}

.interfaceHeadings {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.updateStatusSelectorElement {
    margin: 10px 0px 10px 0px;
}